*{
    border: 1px solid red;
    margin: 0;
    padding: 0;

    font-family: Roboto,sans-serif;
}

/* Setting up colors first */
.header,.sec1,.footer {
    background-color: #1F2937;
    color: #f9faf8;

    /* info title */
    /* font-size: 36px; */

    /* quote size */
    /* font-size: 18px; */
    /* font-weight: light; */
    /* font-style: italic; */

}



body{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
button{
    font-weight: bold;
    width: 9vh;
    height: 3vh;
    border-radius: 1vh;
    border:5px solid #66707f;
}
.header{
    height: 5vh;

    display: flex;
    justify-content: space-between;    
    align-items: center;

    font-weight: bold

}
.logo{
    font-size: 24px;
}
.h-list{
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: flex;
    gap: 20px;
}
.sec1{
    height:22.5vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-title{
    font-size: 48px;
    font-weight: 900;
}
.hero-desc{
      font-size: 18px;
}

.sec2{
    height:22.5vh;
    
}
.sec3{
    background-color: #e5e7eb;
    height:22.5vh;
    
}
.sec4{
    height:22.5vh;
    
}

.footer{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #f9faf8;
}