*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;

    font-family: Roboto,sans-serif;
}

/* Setting up colors first */
.header,.sec1,.footer {
    background-color: #1F2937;
    color: #f9faf8;
}



body{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* flex-grow: 1; */
    /* padding: 0 10vw; */
}

.header,.sec1,.sec2,.sec3,.sec4,.footer{
    padding: 0 18vw;
    flex-grow: 1;
}
button{
    font-weight: bold;
    width: 9vh;
    height: 3vh;
    border-radius: 1vh;
    border:5px solid #66707f;
}
.header{
    flex-grow: 0;

    height: 5vh;

    display: flex;
    justify-content: space-between;    
    align-items: center;

    font-weight: bold

}
.logo{
    font-size: 24px;
}
.h-list{
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: flex;
    gap: 20px;
}
.sec1{
    height:26vh;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50px;
}
.hero-title{
    font-size: 48px;
    font-weight: 900;
}
.hero-desc{
      font-size: 18px;
}
.hero-image{
    width: 20vw;
    height: auto;
}

.sec2{
    height:22.5vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 5vh 0;
}
.info-title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 2vh;
}

.card-box{
    display: flex;

    gap: 3vw;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-img{
    width: 10vw;
    height: auto;

    border: 4px solid #3882f6;
    border-radius: 10px;
}
.card-text{
    text-align: center;
    margin-top: 1vh;
}

.sec3{
    

    background-color: #e5e7eb;
    /* height:22.5vh; */
    flex-shrink: 1;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote{
        font-size: 18px;
    font-weight: light;
    font-style: italic;
}
.auth{
    align-self: flex-end;
    margin-right: 12vw;
}
.sec4{
    flex-shrink: 1;
    /* height:22.5vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta-box{
    background-color: #3882f6;
    padding: 2rem 8rem;

    border-radius: 15px;


}
.cta-text{
    color: #fff;
}

.footer{
    flex-grow: 0;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #f9faf8;
}